<nav class="navbar navbar-expand-xl navbar-dark bg-primary mb-3">
  <a class="navbar-brand" href="/"> Diário de Estudo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Itens de Estudo <span class="sr-only">(current)</span> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/categories">Categorias</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <%= render partial: 'study_items/search_form.html.erb' %>
      <!--<input class="form-control mr-sm-2" type="search" placeholder="Pesquise..." aria-label="Search">
      <button class="btn btn-light btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    --></form>
  </div>
</nav>