<h3><%= @study_item.title %></h3>
<p><%= @study_item.description %></p>
<%if not(@study_item.deadline.nil?)%>
  <p>Prazo: <%= @study_item.deadline.strftime("%d/%m/%y") %></p>
<%end%>
<p><%= @study_item.category.title %></p>
