<!-- em andamento -->
<div class = "row mb-3 mx-auto border">
  <div class = "col py-2 bg-light">
    <%= render partial: "row_study_item", 
           locals: { status: StudyItem::STATUS[:ongoing] } 
    %>
  </div>
</div>

<!-- atrasado -->
<div class = "row mb-3 mx-auto border">
  <div class = "col py-2 bg-light">
    <%= render partial: "row_study_item", 
              locals: { status: StudyItem::STATUS[:late] } 
    %>
  </div>
</div>

<!-- concluidos -->
<div class = "row mb-3 mx-auto border">
  <div class = "col py-2 bg-light">
    <%= render partial: "row_study_item", 
              locals: { status: StudyItem::STATUS[:complete] } 
    %>
  </div>
</div>
