<div class = "row px-3 pt-3">
  <h2>Foram encontrados os seguintes resultados...</h2>
</div>
<div class = "row">
  <% @study_items.each do |study_item| %>
    <div class = "col-3 py-3 m-3 border">
      <%= render partial: "study_item_preview", locals: {study_item: study_item} %>
    </div>
  <% end %>
</div>
