<h1>Foram encontrados os seguintes resultados...</h1>
<% @study_items.each do |study_item| %>
  <div class = "row my-3">
    <div class = "col-3 py-3 border">
    <h3><%= link_to study_item.title, study_item_path(study_item) %></h3>
    <p><%= study_item.description %></p>
    <p><%= study_item.categories %></p>
    </div>
  </div>
<% end %>