<!-- wrong formatting when errors occur -->
<% category.errors.full_messages.each do |message| %>
  <p><%= message %></p>
<% end %>

<div class = "form-inline">
  <%= form_with model: category, local: true do |f| %>
    <%= f.text_field :title, placeholder: "Categoria...", class: "form-control" %>
    <%= f.submit "Salvar", class: "btn btn-primary" %>
  <% end %>
</div>
